In [1]:
import pandas as pd
from pathlib import Path

In [2]:
school_data_info = Path("Resources/schools_complete.csv")
student_data_info = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_info)
student_data = pd.read_csv(student_data_info)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Total Unique Schoools
unique_schools = school_data_complete["school_name"].nunique()
unique_schools

15

In [4]:
# Total students
total_students = school_data_complete["student_name"].count()
total_students

39170

In [5]:
# Total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [6]:
# Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# % passing math (the percentage of students who passed math)
total_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
percent_passing_math = total_passing_math / float(total_students) * 100
percent_passing_math

74.9808526933878

In [9]:
# % passing reading (the percentage of students who passed reading)
total_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
percent_passing_reading = total_passing_reading / float(total_students) * 100
percent_passing_reading

85.80546336482001

In [10]:
# % overall passing (the percentage of students who passed math AND reading)
total_overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = total_overall_passing /  float(total_students) * 100
overall_passing_rate

65.17232575950983

## School Summary

In [11]:
# School name
school_names = school_data_complete["school_name"].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [74]:
# School type
school_types = school_data_complete.groupby(["school_name"])["type"].unique()
school_types

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [75]:
# Total students per school
students_per_school = school_data_complete.groupby("school_name")["student_name"].count()
students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [76]:
# Total school budget per school
budget_per_school = school_data_complete.groupby("school_name")["budget"].sum()
budget_per_school

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [77]:
# Per student budget
budget_per_student = budget_per_school / students_per_school
budget_per_student

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [78]:
# Average math score per school
average_math_per_school = school_data_complete.groupby("school_name")["math_score"].mean()
average_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [79]:
# Average reading score per school
average_reading_per_school = school_data_complete.groupby("school_name")["reading_score"].mean()
average_reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [80]:
# % passing math (the percentage of students who passed math) per school
passing_math_per_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby("school_name").size()
passing_math_per_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [81]:
percent_passing_math_per_school = passing_math_per_school / students_per_school * 100
percent_passing_math_per_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [82]:
# % passing reading (the percentage of students who passed reading) per school
passing_reading_per_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby("school_name").size()

percent_passing_reading_per_school = passing_reading_per_school / students_per_school * 100
percent_passing_reading_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [84]:
# % overall passing (the percentage of students who passed math AND reading) per school
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

percent_overall_passing_per_school = school_students_passing_math_and_reading / students_per_school * 100
percent_overall_passing_per_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [86]:
per_school_summary = pd.DataFrame({"School Types": school_types, "Total Students": students_per_school, "Total School Budget": budget_per_school, "Per Student Budget": budget_per_student,"Average Math Score": average_math_per_school,"Average Reading Score": average_reading_per_school,"% Passing Math": percent_passing_math_per_school, "% Passing Reading": percent_passing_reading_per_school, "% Overall Passing": percent_overall_passing_per_school,})
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,"$15,549,641,728.00","$3,124,928.00",77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,"$2,009,159,448.00","$1,081,356.00",83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,"$5,557,128,039.00","$1,884,411.00",76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,"$4,831,365,924.00","$1,763,916.00",77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,"$1,346,890,000.00","$917,500.00",83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,"$14,007,062,700.00","$3,022,020.00",77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,"$105,933,149.00","$248,087.00",83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,"$5,573,322,295.00","$1,910,635.00",76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,"$14,733,628,650.00","$3,094,650.00",77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,"$563,595,396.00","$585,858.00",83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,"$10,186,904,637.00","$2,547,363.00",76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,"$1,860,672,600.00","$1,056,600.00",83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,"$1,705,517,550.00","$1,043,130.00",83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,"$3,012,587,442.00","$1,319,574.00",83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,"$1,888,920,000.00","$1,049,400.00",83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [88]:
top_schools = per_school_summary.sort_values(by = "% Overall Passing", ascending = False)
top_schools.head(5)

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,"$2,009,159,448.00","$1,081,356.00",83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,"$1,705,517,550.00","$1,043,130.00",83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,"$1,346,890,000.00","$917,500.00",83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,"$3,012,587,442.00","$1,319,574.00",83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,"$563,595,396.00","$585,858.00",83.839917,84.044699,94.594595,95.945946,90.540541

## Lowest-Performing Schools (by % Overall Passing)

In [89]:
bottom_schools = per_school_summary.sort_values(by = "% Overall Passing", ascending = True)
bottom_schools.head(5)

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,"$10,186,904,637.00","$2,547,363.00",76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,"$5,557,128,039.00","$1,884,411.00",76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,"$5,573,322,295.00","$1,910,635.00",76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,"$14,007,062,700.00","$3,022,020.00",77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,"$14,733,628,650.00","$3,094,650.00",77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [26]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_grader_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

data_math = {"Ninth Grade Math Scores": ninth_grader_math_scores,"Tenth Grade Math Scores": tenth_grader_math_scores, "Eleventh Grader Math Scores": eleventh_grader_math_scores, "Twelfth Grader Math Score": twelfth_grader_math_scores}
math_scores_by_grade = pd.DataFrame(data_math)

math_scores_by_grade.index.name = None

math_scores_by_grade

,Ninth Grade Math Scores,Tenth Grade Math Scores,Eleventh Grader Math Scores,Twelfth Grader Math Score
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Scores by Grade

In [29]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_grader_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

data_reading = {"Ninth Grade reading Scores": ninth_grader_reading_scores,"Tenth Grade Reading Scores": tenth_grader_reading_scores, "Eleventh Grader Reading Scores": eleventh_grader_reading_scores, "Twelfth Grader reading Score": twelfth_grader_reading_scores}
reading_scores_by_grade = pd.DataFrame(data_reading)

reading_scores_by_grade.index.name = None

reading_scores_by_grade

,Ninth Grade reading Scores,Tenth Grade Reading Scores,Eleventh Grader Reading Scores,Twelfth Grader reading Score
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

In [90]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [91]:
school_spending = per_school_summary.copy()

In [ ]:
school_spending["Spending Ranges (Per Student)"] = pd.cut(school_spending[], spending_bins, labels=labels, include_lowest=True)

school_spending["Spending Ranges (Per Student)"] = school_spending["Spending Ranges (Per Student)"].astype(str)
school_spending

ValueError: Input array must be 1 dimensional

In [93]:
spending_math_scores = school_spending.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

KeyError: 'Spending Ranges (Per Student)'

In [ ]:
spending_summary = 
spending_summary

## Scores By School Size

In [ ]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
school_size = per_school_summary.copy()

In [ ]:
school_size["School Size"] =

school_size["School Size"] = school_size["School Size"].astype(str)
school_size

In [ ]:
size_math_scores = school_size.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
school_size_summary = 
school_size_summary

## Scores By School Type

In [ ]:
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
type_summary =
type_summary